{% macro spinner(color="all") %}
{% if color == "all" %}
<div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div>
        <div class="gap-patch">
            <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
            <div class="circle"></div>
        </div>
    </div>

    <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div>
        <div class="gap-patch">
            <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
            <div class="circle"></div>
        </div>
    </div>

    <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div>
        <div class="gap-patch">
            <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
            <div class="circle"></div>
        </div>
    </div>

    <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div>
        <div class="gap-patch">
            <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
            <div class="circle"></div>
        </div>
    </div>
</div>
{% else %}
<div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-{{color}}-only">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div>
        <div class="gap-patch">
            <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
            <div class="circle"></div>
        </div>
    </div>
</div>
{% endif %}
{% endmacro %}

{% macro loader(color="all") %}
<div class="center-align" style="padding-top: 3em">
    {{ spinner(color) }}
</div>
<div class="center-align">
    Loading ...
</div>
{% endmacro %}

{% macro navbar_main() %}
<header>
    <nav class="nav-extended {{ page_color }}">
        <div class="container row">
            <div class="valign-wrapper">
                <a href="#" data-activates="nav-mobile"
                   class="button-collapse full hide-on-large-only">
                    <i class="material-icons top-icon">menu</i>
                </a>
                <div class="nav-wrapper"><a class="page-title">{{ page_title }}</a></div>
            </div>
        </div>
    </nav>
    <ul id="nav-mobile" class="side-nav fixed" style="transform: translateX(0%);">
        <li class="logo container-fluid" style="padding: 1em 0">
            <a href="{{ url_for('manager.index') }}" class="fill-parent" style="font-size: 2.5em">
                Pronto Dashboard
            </a></li>
        <li class="divider"></li>

        {% if current_user.is_authenticated %}
        <li class="user-info"><label>You are logged in as</label></li>
        <li class="user-info">{{ current_user.name }} ({{ current_user.role.value }})</li>
        <li class="divider"></li>
        {% if current_user.role.value == 'Manager' %}
        <li>
            <a href="{{ url_for('manager.flight_schedules') }}" class="waves-effect waves-teal">Flight Schedules<i
                    class="material-icons left">schedule</i></a>
        </li>
        <li>
            <a href="{{ url_for('manager.taskboard') }}">Taskboard<i class="material-icons left">supervisor_account</i></a>
        </li>
        {% endif %}
        {% endif %}
        <li>
            <!-- Modal Trigger -->
            <a class="modal-trigger" href="#aboutmodal">About<i class="material-icons left">info_outline</i></a>
        </li>

        {% if current_user.is_authenticated %}
        <li>
            <a href="{{ url_for('user.logout') }}" class="waves-effect waves-teal">Log Out<i
                    class="material-icons left">power_settings_new</i></a>
        </li>
        {% endif %}
    </ul>

    <div id="aboutmodal" class="modal">
        <div class="modal-content">
            <h3>About</h3>
            <p class="flow-text">
              The Pronto Dashboard is a task-tracking and allocation system for SATS Interline officers to monitor the status of ground operations for SQ flights. It provides a platform to check flight schedule, track their drivers, and allocate drivers to specific tasks for HOT transfer baggage. It aims to improve and log the allocation process as well as provide much-needed visibility of the ground operations, in order to alleviate baggage mishandling. This application is designed by students of the SUTD, in collaboration with the SIA Ground Service Department, as part of SUTD's capstone project. 
            </p>
        </div>
    </div>
</header>
{% endmacro %}

{% macro footer_main() %}
<footer class="{{ page_color }}">
    <div class="footer-nav">
        <div class="container">
            <div class="row">
                <a class="grey-text text-lighten-4 left">Team Pronto © </a>
                <a class="grey-text text-lighten-4 right">SUTD Capstone 2017</a>
            </div>
        </div>
    </div>
</footer>
{% endmacro %}
