{% extends 'layouts/common.html' %}
{% import 'macros/designs.html' as design with context %}

{% block css %}
{% endblock %}

{% block main %}

{{ design.navbar_main() }}
<main ng-app="managerApp">
    {% block app %} {% endblock %}
</main>
{{ design.footer_main() }}
{% endblock %}


{% block scripts %}
<script src="{{ url_for('manager.static', filename='main.js') }}"></script>
<script src="{{ url_for('manager.static', filename='controllers.js') }}"></script>
<script src="{{ url_for('manager.static', filename='filter.js') }}"></script>

<script type="text/javascript">
    $(".button-collapse").sideNav();
    $('.modal').modal();
</script>
{% endblock %}
