{% extends 'manager/base.html' %}
{% from 'macros/designs.html' import loader %}

{% block app %}
<div ng-controller="tbCtrl" ng-cloak class="container">
    <div ng-switch="loading">
        <div ng-switch-when="true">
            {{ loader() }}
        </div>
        <div ng-switch-default>
            <div class="row">
                <button class="btn" ng-show="!editing" ng-click="toggleEdit()">Edit</button>
                <button class="btn" ng-show="editing" ng-click="submit()">Confirm</button>
                <button class="btn" ng-show="editing" ng-click="cancel()">Cancel</button>
            </div>
            <div style="display:none !important">
                [[updateAllocatedTask]]
            </div>
            <div style="display:none !important">
                [[updateDeallocatedDriver]]
            </div>
            <div class="row">
              <table class="bordered">
                  <thead>
                  <tr>
                      <th>ID</th>
                      <th>Source</th>
                      <th>Destination</th>
                      <th>Ready time</th>
                      <th>Flight time</th>
                      <th>Containers</th>
                      <th>Driver</th>
                      <th>Progress</th>
                      <th ng-show="editing">Action</th>
                  </tr>
                  </thead>

                  <tbody>
                  <tr ng-repeat="task in tasks">
                      <td>[[ task.task_id ]]</td>
                      <td>[[ task.source ]]</td>
                      <td>[[ task.destination ]]</td>
                      <td>[[ task.ready_time | toJustTime ]]</td>
                      <td>[[ task.flight_time | toJustTime ]]</td>
                      <td>[[ task.containers ]]</td>
                      <td>[[ task.driver ]]</td>
                      <!-- <td ng-show="editing"><div class="input-field">
                          <select>
                              <option></option>
                              <option ng-selected="d.name === task.driver" ng-repeat="d in drivers">[[ d.name ]]</option>
                          </select>
                      </div></td> -->
                      <td ng-show="task.status == 'Ready'" ><p>Ready</p></td>
                      <td ng-show="task.status == 'En-route'"><p>Enroute</p></td>
                      <td ng-show="task.status == 'Done'" ><p>Done</p></td>
                      <td ng-if="!free" ng-show="editing"><button class="btn-floating waves-effect waves-light red" ng-click="deallocate(task)"><i class="material-icons">perm_identity</i></button></td>
                      <td ng-if="free" ng-show="editing"><button class="btn-floating waves-effect waves-light red" ng-click="allocate(task)"><i class="material-icons">play_for_work</i></button></td>
                    </tr>
                  </tbody>

              </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
