{% extends 'manager/base.html' %}
{% from 'macros/designs.html' import loader %}

{% block app %}
<div ng-controller="tbCtrl" ng-cloak class="container">
    <div ng-switch="loading">
        <div ng-switch-when="true">
            {{ loader() }}
        </div>
        <div ng-switch-default>
            <div class="row">
                <button class="btn" ng-show="!editing" ng-click="toggleEdit()">Edit<i class="material-icons right">mode_edit</i></button>
                <button class="btn right" ng-show="editing" ng-click="submit()">Confirm<i class="material-icons right">done</i></button>
                <button class="btn" ng-show="editing" ng-click="cancel()">Cancel<i class="material-icons right">delete</i></button>
            </div>
            <div style="display:none !important">
                [[updateAllocatedTask]]
            </div>
            <div style="display:none !important">
                [[updateDeallocatedDriver]]
            </div>
            <div class="row">
              <table class="bordered">
                  <thead>
                  <tr>
                      <th>ID</th>
                      <th>From</th>
                      <th>To</th>
                      <th>Ready time</th>
                      <th>Flight time</th>
                      <th>Bay</th>
                      <th>Containers</th>
                      <th>Driver</th>
                      <th>Progress</th>
                      <th ng-show="editing">Action</th>
                  </tr>
                  </thead>

                  <tbody>
                  <tr ng-repeat="task in tasks" ng-class="{'ready-class': task.status == 'Ready', 'enRoute-class': task.status == 'En-route', 'done-class': task.status == 'Done'}">
                      <td>[[ task.task_id ]]</td>
                      <td>[[ task.source ]]</td>
                      <td>[[ task.destination ]]</td>
                      <td>[[ task.ready_time | toJustTime ]]</td>
                      <td>[[ task.flight_time | toJustTime ]]</td>
                      <td>[[ task.bay ]]</td>
                      <td>[[ task.containers ]]</td>
                      <td>[[ task.driver ]]</td>
                      <!-- <td ng-show="editing"><div class="input-field">
                          <select>
                              <option></option>
                              <option ng-selected="d.name === task.driver" ng-repeat="d in drivers">[[ d.name ]]</option>
                          </select>
                      </div></td> -->
                      <td ng-show="task.status == 'Ready'" ><span class="new badge" data-badge-caption="ready"></span></td>
                      <td ng-show="task.status == 'En-route'"><span class="new badge blue" data-badge-caption="en-route"></span></td>
                      <td ng-show="task.status == 'Done'" ><span class="new badge green" data-badge-caption="done"></span></td>
                      <td ng-show="editing"><button class="btn-floating waves-effect waves-light red" ng-click="deallocate(task)"><i class="material-icons">eject</i></button></td>
                      <td ng-show="editing"><button class="btn-floating waves-effect waves-light red" ng-click="allocate(task)"><i class="material-icons">get_app</i></button></td>
                    </tr>
                  </tbody>

              </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
